.root-form-project-det {
  margin: 20px 20%;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.root-form-project-re-ex {
  margin: 20px 0px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}