.re-ex-year-root { 
  padding: 20px 0px; 
} 
 
.re-ex-year-block-filter { 
  width: 60%; 
  max-width: 1000px; 
  margin: 0 auto 10px auto; 
} 
 
.re-ex-year-block-button { 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
} 
 
.re-ex-year-block-table { 
  width: 60%; 
  max-width: 1000px; 
  margin: 0 auto 10px auto; 
}