.root-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/icon/homepage.jpg");
  min-height: 100vh;
  min-width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}